@charset "UTF8";

body{
   background-image: linear-gradient(to bottom, black,gray); 
   background-attachment: fixed;
}

main{
    text-align: center;
}
 
header > img{
   
}
header > h1{
    font-size: 20px;
}
header > h2 > a{
    text-decoration: none;
    list-style: none;
    color: black;
}
section > ul> a{
    text-decoration: none;
    list-style: none;
    color: black;
}

a:hover{
    text-decoration:underline;
    color: rgb(114, 8, 8);
}
