@charset "UTF-8";

:root{
    --cor1:#6374A6;
    --cor2:#B6C5F2;
    --cor3:#364A73;
    --cor4:#0A1626;
    --cor5:#172940;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
  background-image: linear-gradient(to bottom, var(--cor4),var(--cor2));
    
}

p{
    margin-top: 10px;
}
a{
    text-decoration: none; 
    color: white; 
  
}

header{
    background: url(../img/Img_header_7.jpg) no-repeat;
    height: 130px;
    color: white;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.61);
}
header > h1{
    padding-top: 10px;
}
nav{
  
    text-align: center;
    margin-top: 25px;
    
}
nav > ul > li {
    display: inline-block;
    list-style-type: none;
    color: white;
}
nav> ul > li > a {
    display: block;
    padding: 6px;
}
nav> ul > li > a:hover{
    background-color: var(--cor5);
    transition-duration: .4s;
}


main{
    background-color: white;
    width: 75vw;
    margin: auto;
    padding: 10px;
    text-indent: 2em;
    line-height: 1.5em;
    box-shadow: 0px 8px 10px rgb(0, 0, 0);
}

.conteudo{
    margin-left: -15px;
}
.autor {
    color: black;
}
.autor:hover{
    color: blue;
    font-size: 20px;
}

footer{
    background-color: black;
    color: white;
}
footer > h1, ul > li, p{
    margin-left: 20px;
    list-style-type: none;
}
footer > ul > li{
    line-height: 1.5em;
}
footer > ul > li > a:hover{
    font-size: 19px;
    transition-duration: .1s;
}
footer > p{
    text-align: center;
}
